<div class="content-container" style="margin-left: 100px;margin-right: 100px;" >
        <main class="content-area">
             <div class="content-container" >
        <div class="content-area" >
           <h5> Vous êtes ici: Accueil / Dashboard</h5>
              <h1> Nous saluons le retour John!</h1>
  
              <hr>
  
  
  
  
  
  
  
  
  
  
  
            
  
  
  
  
  
   <h3> ACTUALITÉS</h3>
  <div class="clr-row">
    <div class="clr-col-lg-4 clr-col-12">
        <a href="..." class="card clickable">
            <div class="card-img"  >
                <img src="https://www.letudiant.fr/static/uploads/mediatheque/ETU_ETU/9/7/667297-20-350x150.jpg" alt="..." />
            </div>
            <div class="card-block">
                <div class="card-text">
                    <p>Comment devient-on designer ?</p>
                </div>
            </div>
        </a>
    </div>
    <div class="clr-col-lg-4 clr-col-12">
        <a href="..." class="card clickable">
            <div class="card-img"  >
                <img src="https://www.letudiant.fr/static/uploads/mediatheque/ETU_ETU/4/9/2238849-istock-871227254-350x150.jpg" alt="..." />
            </div>
            <div class="card-block">
                <div class="card-text">
                    <p>Parcoursup : zoom sur les principaux cursus accessibles après le bac</p>
                </div>
            </div>
        </a>
    </div>
    <div class="clr-col-lg-4 clr-col-12">
       
  
  
  
        <a href="..." class="card clickable">
            <div class="card-img"  >
                <img src="https://www.letudiant.fr/static/uploads/mediatheque/ETU_ETU/8/1/2243481-rea-281668-018-350x150.jpg" alt="..." />
            </div>
            <div class="card-block">
                <div class="card-text">
                    <p>Gel des loyers et trêve hivernale : les mesures contre la précarité étudiante</p>
                </div>
            </div>
        </a>
    </div>
  </div>





  <div class="clr-row">
        <div class="clr-col-lg-4 clr-col-12">
            <a href="..." class="card clickable">
                <div class="card-img"  >
                    <img src="https://www.letudiant.fr/static/uploads/mediatheque/ETU_ETU/4/4/2241244-adobestock-34019801-350x150.jpeg" alt="..." />
                </div>
                <div class="card-block">
                    <div class="card-text">
                        <p>Nouveau bac : pourquoi vous ne pourrez pas avoir plus de 20/20</p>
                    </div>
                </div>
            </a>
        </div>
        <div class="clr-col-lg-4 clr-col-12">
            <a href="..." class="card clickable">
                <div class="card-img"  >
                    <img src="https://www.letudiant.fr/static/uploads/mediatheque/ETU_ETU/3/4/2240734-adobestock-135767888-350x150.jpeg" alt="..." />
                </div>
                <div class="card-block">
                    <div class="card-text">
                        <p>Lycéens et étudiants inégaux face à leur orientation</p>
                    </div>
                </div>
            </a>
        </div>
        <div class="clr-col-lg-4 clr-col-12">
           
      
      
      
            <a href="..." class="card clickable">
                <div class="card-img"  >
                    <img src="https://www.letudiant.fr/static/uploads/mediatheque/ETU_ETU/6/2/2242362-adobestock-211909426-350x150.jpeg" alt="..." />
                </div>
                <div class="card-block">
                    <div class="card-text">
                        <p>Pisa 2018 : le niveau scolaire des jeunes Français reste corrélé à leur origine sociale</p>
                    </div>
                </div>
            </a>
        </div>
      </div>
  
  
  
    
  






  <!--div class="clr-row" >
        <div class="clr-col-lg-3 clr-col-16" >
            <a href="..." class="card clickable" style="background-image: url(https://media.istockphoto.com/vectors/abstract-vector-mesh-background-multicolor-gradient-rainbow-vector-id606681400?k=6&m=606681400&s=170667a&w=0&h=G5vsfMfAtB6N7eo6gn3RVwvcOzTQyDLjaN1a3oGQmco=);">
                <div class="card-img" style="height:100px;">
                    
                </div>
                <div class="card-block">
                    <div class="card-text">
                       <h5> événements</h5>
                       
                    </div>
                </div>
            </a>
        </div>
      
          <div class="clr-col-lg-3 clr-col-16">
            <a href="..." class="card clickable" style="background-image: url(https://media.istockphoto.com/vectors/abstract-vector-mesh-background-multicolor-gradient-rainbow-vector-id606681400?k=6&m=606681400&s=170667a&w=0&h=G5vsfMfAtB6N7eo6gn3RVwvcOzTQyDLjaN1a3oGQmco=)">
                <div class="card-img" style="height:100px;">
                    
                </div>
                <div class="card-block">
                    <div class="card-text">
                       <h5>Stages</h5>
                        
                    </div>
                </div>
            </a>
        </div>
        <div class="clr-col-lg-3 clr-col-16">
           <a href="..." class="card clickable" style="background-image: url(https://media.istockphoto.com/vectors/abstract-vector-mesh-background-multicolor-gradient-rainbow-vector-id606681400?k=6&m=606681400&s=170667a&w=0&h=G5vsfMfAtB6N7eo6gn3RVwvcOzTQyDLjaN1a3oGQmco=)">
                <div class="card-img" style="height:100px;">
                    
                </div>
                <div class="card-block">
                    <div class="card-text">
                       <h5>offre d'emploi</h5>
                        
                    </div>
                </div>
            </a>
        </div>
        <div class="clr-col-lg-3 clr-col-16">
           <a href="..." class="card clickable" style="background-image: url(https://media.istockphoto.com/vectors/abstract-vector-mesh-background-multicolor-gradient-rainbow-vector-id606681400?k=6&m=606681400&s=170667a&w=0&h=G5vsfMfAtB6N7eo6gn3RVwvcOzTQyDLjaN1a3oGQmco=)">
                <div class="card-img" style="height:100px;">
                    
                </div>
                <div class="card-block">
                    <div class="card-text">
                       <h5>les clubs</h5>
                       
                    </div>
                </div>
            </a>
        </div>
      </div-->
      
  
  
  
  
        </div>
    </div>
  
  
  
  
  
  
  
  
  
  
        </main>
      
    </div>