<div class="content-container" style="margin-left: 100px;margin-right: 100px;">
        <main class="content-area">
             <div class="content-container" >
        <div class="content-area" >
           <h5> Vous êtes ici:  Chercher/ Hébergements</h5>
              <h1> Nous saluons le retour John!</h1>
  
              <hr>
  
  
  
  
  
  
  
  
  

              <div class="clr-row">
                    <div class="clr-col-lg-4 clr-col-12">
                        <div class="card clickable" [routerLink]="['/hebergementfoyer']" [queryParams]="{firstpara:'r',secondpara:0,thredpara:'C'}"
                        queryParamsHandling="merge">
                            <div class="card-block">
                                <h3 class="card-title">Les  Foyer </h3>
                                <div class="card-img" style="width: 100px;">
                                        <img src="https://logement.studycdn.space/sites/default/files/styles/picto_type_offre_home_/public/type-offre/picto/residence-universitaire.png?itok=ma4DjQ4c"  alt="..." />
                                    </div>
                            </div>
                            <div class="card-footer">
                                <a [routerLink]="['/hebergementfoyer']" class="btn btn-sm btn-link">plus détails</a>
                            </div>
                        </div>
                    </div>
                    <div class="clr-col-lg-4 clr-col-12">
                        <div class="card clickable" [routerLink]="['/hebergementfoyer']" [queryParams]="{firstpara:'r',secondpara:0,thredpara:'C'}"
                        queryParamsHandling="merge">
                            <div class="card-block">
                                <h3 class="card-title">résidence étudiant</h3>
                                <div class="card-img" style="width: 100px;">
                                        <img src="https://logement.studycdn.space/sites/default/files/styles/picto_type_offre_home_/public/type-offre/picto/residence-etudiante_0.png?itok=83dFZ-ui"  alt="..." />
                                    </div>
                            </div>
                            <div class="card-footer">
                                <a [routerLink]="['/hebergementfoyer']" class="btn btn-sm btn-link">plus détails</a>
                            </div>
                        </div>
                    </div>
                    <div class="clr-col-lg-4 clr-col-12">
                        <div class="card clickable" [routerLink]="['/hebergementfoyer']" [queryParams]="{firstpara:'r',secondpara:0,thredpara:'C'}"
                        queryParamsHandling="merge">
                            <div class="card-block">
                                <h3 class="card-title">Financer Son Logement</h3>
                                <div class="card-img" style="width: 100px;">
                                        <img src="https://logement.studycdn.space/sites/default/files/styles/picto_type_offre_home_/public/type-offre/picto/colocation.png?itok=kwAdlF3_"  alt="..." />
                                    </div>
                            </div>
                            <div class="card-footer">
                                <a [routerLink]="['/hebergementfoyer']" class="btn btn-sm btn-link">plus détails</a>
                            </div>
                        </div>
                    </div>
                </div>
  
  
  
  
  
  
  
  
  
    
  
  
  
  
  
        </div>
    </div>
  
  
  
  
  
  
  
  
  
  
        </main>
      
    </div>